In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
import pickle

In [4]:
df = pickle.load(open('../data/df_80x80.pickle', 'rb'))
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,6390,6391,6392,6393,6394,6395,6396,6397,6398,6399
0,female,235,230,229,228,228,230,218,185,177,...,83,84,86,102,114,99,113,120,133,136
1,female,125,120,150,181,175,139,109,112,130,...,112,112,116,122,121,126,123,115,109,107
2,female,55,35,31,34,35,33,31,31,31,...,25,29,25,30,29,22,50,130,166,175
3,female,40,42,48,46,43,44,46,43,40,...,2,3,6,11,14,15,14,12,14,11
4,female,44,52,59,61,63,62,59,57,55,...,32,32,34,39,48,56,61,65,69,69

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Columns: 6401 entries, gender to 6399
dtypes: object(1), uint8(6400)
memory usage: 5.7+ MB

In [9]:
# split the into two parts
X = df.iloc[:, 1:].values
y = df.iloc[:, 0]

In [13]:
X.shape

(934, 6400)

In [14]:
X_norm = X / X.max()

In [18]:
# male = 1, female = 0
y = np.where(y=='male',1,0)

In [20]:
# saving x and y
np.savez('../data/data_80x80', X_norm, y)